:root {
  --primary-color: #f7b58c; /*yellow*/
  --secondary-color: #84739c; /*purple*/
  --terciary-color: #ffefff; /*white-ish*/
  --quatenary-color: #181010; /*black-ish*/
}

* {
  box-sizing: border-box;
}

/* Body styles */
body {
 font-family: 'Poppins', sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.6;
 text-align: center;
}

.button-class {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: dark-grey;
  color: black;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.9s;
  transition-property: opacity;
  list-style-type: none;
  cursor: pointer;
}
